<section id="blog">
    <hr class="spacer">
    <div class="row">
        <header class="small-16 columns">
            <div style="float: left;">
                <h2>Projects</h2>
            </div>
            <div style="float: right;">
                <label class="switch">
                    <input type="checkbox" class="check" [value]="projectsFilterCategoryVisible" (change)="toggleProjectsFilterView()">
                    <span class="sliding round"></span>
                </label>
                <input type="text" class="filterText" [(ngModel)]="projectsFilterText" placeholder="Search">
                <select class="filterCategory" [(ngModel)]="projectsFilterCategory" [@toggleSelect]="projectsFilterCategoryVisible ? 'visible' : 'hidden'">
                    <option value="0">Nuclear</option>
                    <option value="1">Energy</option>
                    <option value="2">Industry</option>
                    <option value="3">Sport</option>
                    <option value="4">Pharma</option>
                    <option value="5">Banking</option>
                    <option value="6">Tech</option>
                    <option value="7">Marketing</option>
                    <option value="8">Telecom</option>
                    <option value="9">Beverage</option>
                    <option value="10">Food</option>
                </select>
            </div>
        </header>

        <div class="small-16 columns list">
            <div class="table table-striped">

                @for (project of filteredProjects; track $index)
                {
                    <div class="trow">
                        <div class="tcol first hide-on-mobile">
                            <a (click)="editProject(project.title)" class="button purple-tint1-button hollow-button shadow-button"> 
                                @switch (project.category) {
                                    @case (ProjectCategoryEnum.NUCLEAR) {
                                        Nuclear
                                    }
                                    @case (ProjectCategoryEnum.ENERGY) {
                                        Energy
                                    }
                                    @case (ProjectCategoryEnum.INDUSTRY) {
                                        Industry
                                    }
                                    @case (ProjectCategoryEnum.SPORT) {
                                        Sport
                                    }
                                    @case (ProjectCategoryEnum.PHARMA) {
                                        Pharma
                                    }
                                    @case (ProjectCategoryEnum.BANKING) {
                                        Banking
                                    }
                                    @case (ProjectCategoryEnum.TECH) {
                                        Tech
                                    }
                                    @case (ProjectCategoryEnum.MARKETING) {
                                        Marketing
                                    }
                                    @case (ProjectCategoryEnum.TELECOM) {
                                        Telecom
                                    }
                                    @case (ProjectCategoryEnum.BEVERAGE) {
                                        Beverage
                                    }
                                    @case (ProjectCategoryEnum.FOOD) {
                                        Food
                                    }
                                }
                            </a>
                        </div>
                        
                        @if (project.tags.trim().length > 0)
                        {
                            <div class="tcol last hide-on-mobile">
                                @for (tag of project.tags.split(';'); track $index)
                                {
                                    <a class="button hollow-button" [attr.data-open]="'modal-' + tag.trim().replace(' ', '-')"> 
                                        {{ tag.trim() }} 
                                    </a>
                                }
                            </div>
                        }
                        
                        <div class="tcol adjust">
                            <a (click)="viewProject(project.title)" class="link">
                                <strong> {{ project.title }} </strong>
                            </a>
                        
                            @if (project.content !== '') 
                            {
                                ●
                                <a (click)="viewProject(project.title)" class="link">
                                    {{ stripHtmlTags(project.content) }}
                                </a>
                            }
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </div>

</section>