<div id="inner-page">
    <!-- Background Stars-->
    <div class="bg">
        <div class="stars"><img class="animated infinite flash" src="./assets/images/illustrations/stars-inner.svg"
                alt="stars background"></div>
    </div>
    <!-- Single App-->
    <div id="single-app">
        <div class="row">
            <div class="small-16 columns">
                <!-- Start App Card-->
                <article class="card">
                    <a class="back-button"
                        (click)="navigateWithAnimation(['main'], {queryParams: { scrollTo: 'projects' } })">
                        <img src="assets/images/icons/icon-close.svg" alt="go back">
                    </a>
                    <header>
                        <h1 class="text-center uppercase">Sopres</h1>
                    </header>
                    <div>
                        <p>
                            A consumer-oriented marketing data specialist.
                        </p>

                        <div class="info callout" data-closable="fade-out">
                            I worked for <strong>Sopres</strong> from 1999 to 2000.
                            <button class="close-button" aria-label="Dismiss alert" type="button" data-close=""><span
                                    aria-hidden="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                        viewBox="0 0 3.44 3.44">
                                        <path fill="#000" fill-rule="evenodd"
                                            d="M3.23.59L2.096 1.717 3.23 2.85c.103.104.103.273 0 .38-.106.102-.274.102-.38 0L1.72 2.096.588 3.23c-.104.102-.273.102-.377 0-.102-.107-.102-.276 0-.38l1.134-1.13L.21.588C.108.484.108.315.21.21.316.107.485.107.59.21l1.13 1.133L2.85.21c.106-.103.274-.103.38 0 .103.104.103.273 0 .38z"
                                            clip-rule="evenodd"></path>
                                    </svg></span>
                            </button>
                        </div>

                        <p>
                            <strong>Rental Mailing List</strong><span class="badge">WIN&middot;APP</span>
                            software designed with IT and business collaboration in mind.
                            The software's capability to handle various kinds of queries according to the business
                            requirements.
                            Helps minimize human error and offers a secure way for all users to access and utilize data.
                            Help identify and fill gaps in missing information, and decrease redundancy.
                            Easy-to-use and intuitive interface so that even your non-technical staff can use it.
                        </p>
                    </div>
                    <hr>
                    <footer>
                        <div class="text-center">
                            <a class="button hollow-button tiny-button" data-open="modal-visual-basic">Visual Basic</a>
                            <a class="button hollow-button tiny-button" data-open="modal-mainframe">Mainframe</a>
                        </div>

                        <hr class="spacer">

                        <div class="profile-container">
                            <img src="../../../assets/images/illustrations/picture-profile.jpg" alt="Profile Picture" class="profile-picture">
                            <div class="profile-text">
                                <div class="title">Thierry Langie</div>
                                <div class="sub-title">Fullstack .Net Angular</div>
                            </div>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
</div>
<footer class="main-footer">
    <div class="copyright">
        <div class="row">
            <div class="small-16 columns">
                <p class="text-center copy">Copyright &copy; 2025 <a href="#/">Prolog.Red</a>
                    <img src="./assets/images/icons/icon-rocket.svg" alt="">
                    <span class="hide-on-mobile">All Rights Reserved</span>
                </p>
            </div>
        </div>
    </div>
</footer>