<app-menu [menuItems]="menuItems"></app-menu>

<div id="inner-page">
    
    <!-- Background Stars-->
    <div class="bg">
        <div class="stars">
            <img class="animated infinite flash" 
                 src="./assets/images/illustrations/stars-inner.svg"
                 alt="stars background">
        </div>
    </div>

    <!-- Single App-->
    <div id="single-app">
        <div class="row">
            <div class="small-16 columns">

                <!-- Start App Card-->
                <article class="card">
                    <a class="back-button"
                        (click)="navigateWithAnimation(['main'], {queryParams: { scrollTo: 'projects' } })">
                        <img src="assets/images/icons/icon-close.svg" alt="go back">
                    </a>
                    <header>
                        
                    </header>

                    <div class="row">
                        <header class="small-16 columns">
                            <h2>List of posts</h2>
                        </header>
                        <div class="small-16 columns">
                            <div class="table table-striped">
                
                                @for (post of posts; track $index )
                                {
                                    <div class="trow">
                                        <div class="tcol first hide-on-mobile">
                                            <a class="button purple-tint1-button hollow-button shadow-button"
                                            (click)="editPost(post.title)"> {{ post.id }} </a>
                                        </div>
                                        
                                        @if (post.tags.trim().length > 0)
                                        {
                                            <div class="tcol last hide-on-mobile">
                                                @for (tag of post.tags.split(';'); track $index)
                                                {
                                                    <a class="button hollow-button"> {{ tag.trim() }} </a>
                                                }
                                            </div>
                                        }
                                        
                                        <div class="tcol adjust">
                                            <a (click)="viewPost(post.title)" class="link">
                                                <strong> {{ post.title }} </strong>
                                            </a>
                                        </div>
                                    </div>
                                }
                                
                            </div>
                        </div>
                    </div>

                    <footer>
                        
                    </footer>

                </article>
            </div>
        </div>
    </div>
</div>
<footer class="main-footer">
    <div class="copyright">
        <div class="row">
            <div class="small-16 columns">
                <p class="text-center copy">Copyright &copy; 2025 <a href="#/">Prolog.Red</a>
                    <img src="./assets/images/icons/icon-rocket.svg" alt="">
                    <span class="hide-on-mobile">
                        All Rights Reserved
                    </span>
                </p>
            </div>
        </div>
    </div>
</footer>
