<div id="inner-page">
    <!-- Background Stars-->
    <div class="bg">
        <div class="stars"><img class="animated infinite flash" src="./assets/images/illustrations/stars-inner.svg"
                alt="stars background"></div>
    </div>
    <!-- Single App-->
    <div id="single-app">
        <div class="row">
            <div class="small-16 columns">
                <!-- Start App Card-->
                <article class="card">
                    <a class="back-button" (click)="navigateWithAnimation(['main'], {queryParams: { scrollTo: 'projects' } })">
                        <img src="assets/images/icons/icon-close.svg" alt="go back">
                    </a>
                    <header>
                        <h1 class="text-center uppercase">Glaxo Smith Kline</h1>
                    </header>
                    <div>

                        <p>
                            British multinational pharmaceutical company headquartered in London, England. Established
                            in 2000
                            by a merger of Glaxo Wellcome and SmithKline Beecham, GSK was the world’s sixth largest
                            pharmaceutical
                            company according to Forbes as of 2019, after Pfizer, Novartis, Roche, Sanofi, and Merck
                            &amp; Co.
                        </p>

                        <div class="info callout" data-closable="fade-out">
                            I worked as a freelance for <strong>Glaxo Smith Kline</strong> from 2009 to 2010.
                            During this time, I was able to make significant contributions and
                            acquire valuable insights from this esteemed pharmaceutical company.
                            <button class="close-button" aria-label="Dismiss alert" type="button" data-close=""><span
                                    aria-hidden="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                        viewBox="0 0 3.44 3.44">
                                        <path fill="#000" fill-rule="evenodd"
                                            d="M3.23.59L2.096 1.717 3.23 2.85c.103.104.103.273 0 .38-.106.102-.274.102-.38 0L1.72 2.096.588 3.23c-.104.102-.273.102-.377 0-.102-.107-.102-.276 0-.38l1.134-1.13L.21.588C.108.484.108.315.21.21.316.107.485.107.59.21l1.13 1.133L2.85.21c.106-.103.274-.103.38 0 .103.104.103.273 0 .38z"
                                            clip-rule="evenodd"></path>
                                    </svg></span>
                            </button>
                        </div>

                        <p>
                            <strong>Bio Stat</strong><span class="badge">WIN&middot;APP</span>
                            Scientific data collection and analysis application. The objectives laid down for this
                            program are
                            multiple like the ease of use, the clear presentation of results. All the possible
                            statistical procedures
                            have not been included yet but any such additions are quite simple.
                        </p>

                        <p>
                            <strong>Dynamic Planner</strong><span class="badge">EXCEL&middot;TEMPLATE</span>
                            Template for Microsoft Excel®.
                            Custom made tool allowing order taking of new
                            preparations and their planning on a dynamic schedule covering a full year. Daily, weekly,
                            monthly planner
                            that helps teams to keep well organized. Includes up to 52 weeks on separate worksheets.
                            Designed to be
                            printed on both sides of A3 format with a month on each side.
                        </p>

                        <p>
                            <strong>Tratt Scan</strong><span class="badge">WIN&middot;APP</span>
                            In-house Management Training Courses application updated in 2010 with enhancements and bug
                            fixes.
                            This tool can help teams to stay up-to-date and quickly gain new skills with engaging
                            training modules
                            by connecting users to their every process, policy, and procedure.
                        </p>
                    </div>
                    <hr>
                    <footer>
                        <div class="text-center">
                            <a class="button hollow-button tiny-button" data-open="modal-dot-net-framework">.Net Framework</a>
                            <a class="button hollow-button tiny-button" data-open="modal-barcode-scanner">Barcode Scanner</a>
                            <a class="button hollow-button tiny-button" data-open="modal-excel-vba">Excel® VBA</a>
                            <a class="button hollow-button tiny-button" data-open="modal-access-vba">Access® VBA</a>
                            <a class="button hollow-button tiny-button" data-open="modal-csharp">C#</a>
                        </div>

                        <hr class="spacer">

                        <div class="profile-container">
                            <img src="../../../assets/images/illustrations/picture-profile.jpg" alt="Profile Picture" class="profile-picture">
                            <div class="profile-text">
                                <div class="title">Thierry Langie</div>
                                <div class="sub-title">Fullstack .Net Angular</div>
                            </div>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
</div>
<footer class="main-footer">
    <div class="copyright">
        <div class="row">
            <div class="small-16 columns">
                <p class="text-center copy">Copyright &copy; 2025 <a href="#/">Prolog.Red</a>
                    <img src="./assets/images/icons/icon-rocket.svg" alt="">
                    <span class="hide-on-mobile">
                        All Rights Reserved
                    </span>
                </p>
            </div>
        </div>
    </div>
</footer>