<div id="inner-page" class="no-inner-page-bg-for-mobile">
    <!-- Background Stars-->
    <div class="bg">
        <div class="stars"><img class="animated infinite flash" src="./assets/images/illustrations/stars-inner.svg"
                alt="stars background"></div>
    </div>
    <!-- Single App-->
    <div id="single-app">
        <div class="row">
            <div class="small-16 columns no-padding-on-mobile">
                <!-- Start App Card-->
                <article class="card no-margin-on-mobile">
                    <a class="back-button" (click)="navigateWithAnimation(['main'], {queryParams: { scrollTo: 'projects' } })">
                    <img src="assets/images/icons/icon-close.svg" alt="go back"></a>
                    <header>
                        <h1 class="text-center uppercase">Equans Belgium</h1>
                    </header>
                    <div>
                        <p>
                            Leading global player in multi-technical installations and maintenance services.
                            They design, install and deliver customised solutions and services to improve
                            customers' infrastructure, equipment, systems and technical processes.
                        </p>

                        <div class="info callout" data-closable="fade-out">
                            <strong>Equans</strong> (formerly known as Transnubel) is linked to the <strong>ENGIE
                                group</strong>
                            which is made up of 71 companies. I have been working for Equans since 2022 as a freelance.
                            This experience has allowed me to contribute to and learn from a leading company in the
                            Nuclear industry.
                            <button class="close-button" aria-label="Dismiss alert" type="button" data-close=""><span
                                    aria-hidden="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                        viewBox="0 0 3.44 3.44">
                                        <path fill="#000" fill-rule="evenodd"
                                            d="M3.23.59L2.096 1.717 3.23 2.85c.103.104.103.273 0 .38-.106.102-.274.102-.38 0L1.72 2.096.588 3.23c-.104.102-.273.102-.377 0-.102-.107-.102-.276 0-.38l1.134-1.13L.21.588C.108.484.108.315.21.21.316.107.485.107.59.21l1.13 1.133L2.85.21c.106-.103.274-.103.38 0 .103.104.103.273 0 .38z"
                                            clip-rule="evenodd"></path>
                                    </svg></span>
                            </button>
                        </div>

                        <p>
                            <strong>Platon</strong><span class="badge">WEB&middot;APP</span>
                            Shuttle Transport Booking web application. An intuitive application designed to streamline
                            the booking and management of shuttle transportation services.
                            This application offers a user-friendly interface and robust features for managing non
                            nuclear transports.
                            With options to view schedules, make reservations, it simplifies the entire process, making
                            it efficient and hassle-free.
                        </p>

                        <p>
                            <strong>Transportboek</strong><span class="badge">WEB&middot;APP</span>
                            Transport Management System (TMS) designed for the management and planning of nuclear
                            transport.
                            The system features a modular design, including modules for billing, permissions, and
                            transportation.
                            It also supports planning and operational monitoring of transportation activities.
                            Initially built in 2005 and has since undergone continuous improvements, culminating in the
                            release of a new web-based version.
                        </p>

                        <p>
                            <strong>Paris</strong><span class="badge">WEB&middot;APP</span>
                            Acronym for Packing Registration and Identification Software.
                            Web-based application for monitoring industrial packages.
                            The initial version of this application was developed in 2006 as a Windows thick client.
                            Since then, it has undergone numerous updates and optimizations. Currently,
                            it is used at Equans as an internet-facing application.
                            The security layer has been upgraded to meet modern standards and includes 2-factor
                            authentication for enhanced security.
                        </p>

                        <div class="alert callout" data-closable="fade-out">
                            <strong>Gaffe</strong><span class="badge">DISCONTINUED</span>
                            Enterprise Content Management (ECM) software developed to manage the organization's
                            documents,
                            aiming to eliminate dependence on paper. The initial version was created in 2006 as a
                            Windows thick client.
                            Since then, it has undergone numerous updates and optimizations. Today,
                            it is used at Equans as an internet-facing application.
                            The security layer has been upgraded to meet modern standards, including 2-factor
                            authentication for enhanced security.
                            <br />
                            <strong>Replaced by SharePoint</strong>
                            <button class="close-button" aria-label="Dismiss alert" type="button" data-close=""><span
                                    aria-hidden="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                        viewBox="0 0 3.44 3.44">
                                        <path fill="#000" fill-rule="evenodd"
                                            d="M3.23.59L2.096 1.717 3.23 2.85c.103.104.103.273 0 .38-.106.102-.274.102-.38 0L1.72 2.096.588 3.23c-.104.102-.273.102-.377 0-.102-.107-.102-.276 0-.38l1.134-1.13L.21.588C.108.484.108.315.21.21.316.107.485.107.59.21l1.13 1.133L2.85.21c.106-.103.274-.103.38 0 .103.104.103.273 0 .38z"
                                            clip-rule="evenodd"></path>
                                    </svg></span>
                            </button>
                        </div>

                        <div class="alert callout" data-closable="fade-out">
                            <strong>Launcher</strong><span class="badge">DISCONTINUED</span>
                            Intranet web application for internal messaging, designed to facilitate secure
                            and efficient communication within the organization. This web app enables real-time
                            messaging,
                            file sharing, and collaboration, significantly enhancing internal communication and
                            operational efficiency.
                            It features a user-friendly interface, and ensures all communication remains private and
                            secure within the company's network.
                            <br />
                            <strong>Replaced by SharePoint</strong>
                            <button class="close-button" aria-label="Dismiss alert" type="button" data-close=""><span
                                    aria-hidden="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                        viewBox="0 0 3.44 3.44">
                                        <path fill="#000" fill-rule="evenodd"
                                            d="M3.23.59L2.096 1.717 3.23 2.85c.103.104.103.273 0 .38-.106.102-.274.102-.38 0L1.72 2.096.588 3.23c-.104.102-.273.102-.377 0-.102-.107-.102-.276 0-.38l1.134-1.13L.21.588C.108.484.108.315.21.21.316.107.485.107.59.21l1.13 1.133L2.85.21c.106-.103.274-.103.38 0 .103.104.103.273 0 .38z"
                                            clip-rule="evenodd"></path>
                                    </svg></span>
                            </button>
                        </div>

                        <p>
                            <code>Okta</code> integration on smartphones to align with modern security standards.
                            This includes the implementation of two-factor authentication (2FA), adding an additional
                            layer of protection.
                            With 2FA, users must provide two forms of identification before accessing the web
                            applications listed above,
                            this significantly bolstering security.
                        </p>

                        <p>
                            <code>Yubikey</code> are used when smartphones are not allowed on certain sites (nuclear
                            power plants).
                            People need an alternative way to authenticate securely. For these situations, we use
                            YubiKey.
                            Which is a physical security key that provides strong authentication without the need for a
                            smartphone.
                            Just plug it into a USB port and tap the key to authenticate, ensuring secure access to web
                            applications listed above.
                        </p>

                    </div>
                    <hr>
                    <footer>
                        <div class="text-center">
                            <a class="button hollow-button tiny-button" data-open="modal-angular">Angular</a>
                            <a class="button hollow-button tiny-button" data-open="modal-azure-functions">Azure
                                Functions</a>
                            <a class="button hollow-button tiny-button" data-open="modal-dot-net-core">.Net Core</a>
                            <a class="button hollow-button tiny-button" data-open="modal-azure-sql-database">Azure Sql
                                Database</a>
                            <a class="button hollow-button tiny-button" data-open="modal-csharp">c#</a>
                            <a class="button hollow-button tiny-button" data-open="modal-okta">Okta</a>
                            <a class="button hollow-button tiny-button" data-open="modal-ubikey">Ubikey (2FA)</a>
                            <a class="button hollow-button tiny-button"
                                data-open="modal-microsoft-authenticator">Microsoft Authenticator</a>
                            <a class="button hollow-button tiny-button" data-open="modal-microsoft-graph">Microsoft
                                Graph</a>
                            <a class="button hollow-button tiny-button" data-open="modal-azure-cognitive-services">Azure
                                Cognitive Services</a>
                        </div>

                        <hr class="spacer">

                        <div class="profile-container">
                            <img src="../../../assets/images/illustrations/picture-profile.jpg" alt="Profile Picture" class="profile-picture">
                            <div class="profile-text">
                                <div class="title">Thierry Langie</div>
                                <div class="sub-title">Fullstack .Net Angular</div>
                            </div>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
</div>
<footer class="main-footer">
    <div class="copyright">
        <div class="row">
            <div class="small-16 columns">
                <p class="text-center copy">Copyright &copy; 2025 <a href="#/">Prolog.Red</a>
                     <img class="rocket" src="./assets/images/icons/icon-rocket.svg" alt=""><span class="hide-on-mobile">
                        All Rights Reserved</span></p>
            </div>
        </div>
    </div>
</footer>