<section id="stack">
    <hr class="spacer">
    <div class="row">
        <header class="small-16 columns">
            <h2>Stack</h2>
            <p>
                My preferred stack consists of <u>Angular</u> for the frontend, providing a dynamic and responsive user interface. 
                For the backend, I rely on the exceptional capabilities and versatility offered by <u>.NET</u>, either with Azure Functions for serverless computing or the traditional Core MVC. 
                <u>SQL Server</u> handles data storage, ensuring efficient and reliable data management. 
                Code is version-controlled and collaboratively managed using <u>GitHub</u>, facilitating seamless team collaboration and integration.
            </p>
        </header>

        <hr class="spacer" />

        <div id="blocks" class="small-16 columns">
            <div class="button purple-tint1-button hollow-button shadow-button">.Net <br/> <span class="badge">BACKEND</span></div>
            <span class="dots">● ● ● ● ● ● ● ● ● ● ● ● ●</span>
            <div class="button purple-tint1-button hollow-button shadow-button">Angular <br/> <span class="badge">FRONTEND</span></div>
            <span class="dots">● ● ● ● ● ● ● ● ● ● ● ● ●</span>
            <div class="button purple-tint1-button hollow-button shadow-button">SQL Server <br/> <span class="badge">STORAGE</span></div>
            <span class="dots">● ● ● ● ● ● ● ● ● ● ● ● ●</span>
            <div class="button purple-tint1-button hollow-button shadow-button">GitHub <br/> <span class="badge">CODE REPO</span></div>
        </div>

    </div>

</section>