<section id="profile">
    <div class="row">
        <header class="small-16 columns">
            <h2>Profile</h2>
        </header>
        <div class="small-8 columns width-100-on-mobile">
            <div class="table">
                <div class="trow">
                    <div class="tcol last">
                        Thierry Langie
                    </div>
                    <div class="tcol limit">
                        <strong>Name</strong>
                        . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . . .
                    </div>
                </div>
                <div class="trow">
                    <div class="tcol last">
                        Full stack .Net <span class="hide-on-mobile">Angular</span>
                    </div>
                    <div class="tcol limit">
                        <strong>Role</strong>
                        . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . . .
                    </div>
                </div>
                <div class="trow">
                    <div class="tcol last">
                        {{ 'thierry@prolog.red' }}
                    </div>
                    <div class="tcol limit">
                        <strong>Email</strong>
                        . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . . .
                    </div>
                </div>
                <div class="trow">
                    <div class="tcol last">
                        +32 486 96 45 77
                    </div>
                    <div class="tcol limit">
                        <strong>Phone</strong>
                        . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . . .
                    </div>
                </div>
                <div class="trow">
                    <div class="tcol last">
                        Namur, Belgium
                    </div>
                    <div class="tcol limit">
                        <strong>Location</strong>
                        . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . . .
                    </div>
                </div>
            </div>
        </div>
        <div class="small-8 columns width-100-on-mobile">
            <div class="table">
                <div class="trow">
                    <div class="tcol last">
                        French, English
                    </div>
                    <div class="tcol limit">
                        <strong>Languages</strong>
                        . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . . .
                    </div>
                </div>
                <div class="trow">
                    <div class="tcol last">
                        51 years old
                    </div>
                    <div class="tcol limit">
                        <strong>Age</strong>
                        . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . . .
                    </div>
                </div>
                <div class="trow">
                    <div class="tcol last">
                        30+ years <span class="hide-on-mobile">of experience</span>
                    </div>
                    <div class="tcol limit">
                        <strong>Experience</strong>
                        . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . . .
                    </div>
                </div>
                <div class="trow">
                    <div class="tcol last">
                        33+ <span class="hide-on-mobile">completed</span> projects
                    </div>
                    <div class="tcol limit">
                        <strong>Missions</strong>
                        . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . . .
                    </div>
                </div>
                <div class="trow">
                    <div class="tcol last">
                        <span class="hide-on-mobile">Remotely &</span> Part-time only
                    </div>
                    <div class="tcol limit">
                        <strong>Availability</strong>
                        . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . . .
                    </div>
                </div>
            </div>
        </div>
        <hr class="spacer">
        <div class="small-16 columns width-100-on-mobile">
            <div class="info callout" data-closable="fade-out">
                <strong>Disponibility</strong> I will not be available for freelance work over the next year. 
                I must dedicate my time and resources to my current mission at Equans. 
                However, I am always open to new connections and would love to stay in touch. 
                Whether it's for networking, collaboration on future projects, 
                or simply sharing insights and experiences.
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close=""><span
                        aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 3.44 3.44">
                            <path fill="#000" fill-rule="evenodd"
                                d="M3.23.59L2.096 1.717 3.23 2.85c.103.104.103.273 0 .38-.106.102-.274.102-.38 0L1.72 2.096.588 3.23c-.104.102-.273.102-.377 0-.102-.107-.102-.276 0-.38l1.134-1.13L.21.588C.108.484.108.315.21.21.316.107.485.107.59.21l1.13 1.133L2.85.21c.106-.103.274-.103.38 0 .103.104.103.273 0 .38z"
                                clip-rule="evenodd"></path>
                        </svg></span>
                </button>
            </div>
        </div>
    </div>
    <div class="row hide-on-mobile">
        <div class="small-16 columns width-100-on-mobile grid">
            <a class="button hollow-button tiny-button grid-item" data-open="modal-csharp">C#</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-asp-dot-net">Asp.Net</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-web-api">Web API</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-razor">Razor</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-blazor">Blazor</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-dot-net-core">.Net Core</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-sql-server">Sql Server</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-html">HTML</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-css">CSS</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-scss">SCSS</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-javascript">JavaScript</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-typescript">TypeScript</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-jquery">jQuery</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-ajax">Ajax</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-angular">Angular</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-visual-studio">Visual Studio</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-dot-net">.Net</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-entity-framework">Entity
                Framework</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-digipass">Digpass</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-ubikey">Ubikey</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-message-queuing">Message Queuing</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-azure">Azure</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-progressive-web-apps">Progressive Web
                Apps</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-aurelia">Aurelia</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-architecture-design">Architecture
                Design</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-okta">OKTA</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-data-visualization">Data
                Visualization</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-api-management">API Management</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-gulp">Gulp</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-dependency-injection">Dependency
                Injection</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-tfs">TFS</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-azure-active-directory">Azure Active
                Directory</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-agile">Agile</a>
            <a class="button hollow-button tiny-button grid-item"
                data-open="modal-enterprise-resource-planning">Enterprise Resource Planning</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-event-driven">Event Driven</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-iis">IIS</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-continuous-deployment">Continuous
                Deployment</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-linq">Linq</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-asynchronous">Asynchronous</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-design-pattern">Design Pattern</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-mvc">MVC</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-microservices">Microservices</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-containers">Containers</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-docker">Docker</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-ci-cd-pipelines">CI/CD Pipelines</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-performance-tuning">Performance
                Tuning</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-signalr">SignalR</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-web-forms">Web Forms</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-powershell">PowerShell</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-caching">Caching</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-maui">MAUI</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-kubernetes">Kubernetes</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-visual-basic">Visual Basic</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-on-premise">On premise</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-excel-vba">Excel® VBA</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-word-vba">Word® VBA</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-access-vba">Access® VBA</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-access-database">Access® Database</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-access-reporting">Access®
                Reporting</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-outlook-vba">Outlook® VBA</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-outlook-form">Outlook® Form</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-mainframe">Mainframe</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-dot-net-framework">.Net Framework</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-crystal-reports">Crystal Reports</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-e-banking">e-Banking</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-barcode-reader">Barcode Reader</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-vb-dot-net">VB.Net</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-c-sharp-dot-net">C#.Net</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-autocas-api">Autocad API</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-omnis-studio">Omnis Studio</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-microsoft-graph">Microsoft Graph</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-azure-cognitive-services">Azure
                Cognitive Services</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-microsoft-authenticator">Microsoft
                Authenticator</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-serverless">Serverless</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-azure-functions">Azure Functions</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-azure-sql-database">Azure Sql
                Database</a>
        </div>
    </div>
</section>