<div id="inner-page">
    <!-- Background Stars-->
    <div class="bg">
        <div class="stars"><img class="animated infinite flash" src="./assets/images/illustrations/stars-inner.svg"
                alt="stars background"></div>
    </div>
    <!-- Single App-->
    <div id="single-app">
        <div class="row">
            <div class="small-16 columns">
                <!-- Start App Card-->
                <article class="card">
                    <a class="back-button"
                        (click)="navigateWithAnimation(['main'], {queryParams: { scrollTo: 'projects' } })">
                        <img src="assets/images/icons/icon-close.svg" alt="go back">
                    </a>
                    <header>
                        <h1 class="text-center uppercase">Labima</h1>
                    </header>
                    <div>
                        <p>
                            Belgian private pharmaceutical laboratory, located in the region of Brussels (Belgium).
                            She ceased her activities in 2016. The objectives of Labima are clear: delivering high
                            quality products and services in a win-win way for our partners and ourselves.
                        </p>

                        <div class="info callout" data-closable="fade-out">
                            I worked at <strong>Labima</strong> from 1997 to 1999. During this period, I made
                            significant
                            contributions and gained valuable insights from this dedicated small company.
                            <button class="close-button" aria-label="Dismiss alert" type="button" data-close=""><span
                                    aria-hidden="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                        viewBox="0 0 3.44 3.44">
                                        <path fill="#000" fill-rule="evenodd"
                                            d="M3.23.59L2.096 1.717 3.23 2.85c.103.104.103.273 0 .38-.106.102-.274.102-.38 0L1.72 2.096.588 3.23c-.104.102-.273.102-.377 0-.102-.107-.102-.276 0-.38l1.134-1.13L.21.588C.108.484.108.315.21.21.316.107.485.107.59.21l1.13 1.133L2.85.21c.106-.103.274-.103.38 0 .103.104.103.273 0 .38z"
                                            clip-rule="evenodd"></path>
                                    </svg></span>
                            </button>
                        </div>

                        <p>
                            <strong>Sales Representative</strong><span class="badge">WIN&middot;APP</span>
                            windows application for monitoring commercial delegates performance.
                            The bi-directional synchronization is done daily. Main features are as follows:
                            recording sales visit data; arranging follow-up calls or visits; route planning
                            between appointments; sales reporting.
                        </p>
                    </div>
                    <hr>
                    <footer>
                        <div class="text-center">
                            <a class="button hollow-button tiny-button" data-open="modal-access-vba">Access® VBA</a>
                            <a class="button hollow-button tiny-button" data-open="modal-access-database">Access®
                                Database</a>
                            <a class="button hollow-button tiny-button" data-open="modal-access-reporting">Access®
                                Reporting</a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
</div>
<footer class="main-footer">
    <div class="copyright">
        <div class="row">
            <div class="small-16 columns">
                <p class="text-center copy">Copyright &copy; 2025
                    <a href="#/">Prolog.Red</a>
                    <img src="./assets/images/icons/icon-rocket.svg" alt="">
                    <span class="hide-on-mobile">
                        All Rights Reserved
                    </span>
                </p>
            </div>
        </div>
    </div>
</footer>