<section id="about">
    <div class="row">
        <header class="small-16 columns">
            <h2>About</h2>
            <p>
                With nearly 3 decades of programming experience,
                I am ❤️<strong>deeply passionate</strong> about my work.
                Over the years, I have encountered a multitude of challenges that have not only tested
                my skills but also provided me with invaluable learning opportunities. 🚀<strong>Prolog.red</strong> is my personal playground!  This is a space to explore, 
                experiment, and share a variety of ideas, projects, and interests. 
                Whether I'm diving into the latest tech trends or simply sharing my thoughts, 
                you'll find a little bit of everything here.
            </p>
        </header>
    </div>
</section>