<app-menu [menuItems]="menuItems"></app-menu>

<header class="purple" id="main-header">
    <section class="bg">
        <div class="row">
            <div class="small-16 columns">
                <div class="stars"><img class="animated infinite flash" src="assets/images/illustrations/stars-home.svg"
                        alt=""></div>
            </div>
        </div>
    </section>
    <section class="identity">
        <div class="row">
            <div class="small-16 columns"><img id="logo" class="center-image" src="assets/images/logos/logo.png"
                    alt="placeholder logo">
                <p class="tagline">Full stack .Net Angular developer</p>
            </div>
        </div>
        <div class="row">
            <div class="small-16 columns"><img class="rocket center-image animated bounceInUp"
                    src="assets/images/illustrations/ship-illustration.svg" alt="rocket"></div>
        </div>
    </section>
</header>

<section id="about">
    <div class="row">
        <header class="small-16 columns">
            <h2>About</h2>
            <p>
                With nearly 3 decades of programming experience,
                I am ❤️<strong>deeply passionate</strong> about my work.
                Over the years, I have encountered a multitude of challenges that have not only tested
                my skills but also provided me with invaluable learning opportunities. 🚀<strong>Prolog.red</strong> is my personal playground!  This is a space to explore, 
                experiment, and share a variety of ideas, projects, and interests. 
                Whether I'm diving into the latest tech trends or simply sharing my thoughts, 
                you'll find a little bit of everything here.
            </p>
        </header>
    </div>
</section>

<section id="links">
    <a href="./assets/cv/cv_Thierry_Langie.docx" target="_blank">
        <img src="assets/images/icons/icon-word.svg" alt="">
    </a>
    <a href="https://www.linkedin.com/in/thierrylangie/" target="_blank">
        <img src="assets/images/icons/icon-linkedin.svg" alt="">
    </a>
    <a href="./assets/cv/cv_Thierry_Langie.pdf" target="_blank">
        <img src="assets/images/icons/icon-pdf.svg" alt="">
    </a>
    <hr class="spacer">
    <hr class="spacer">
</section>

<section id="profile">
    <div class="row">
        <header class="small-16 columns">
            <h2>Profile</h2>
        </header>
        <div class="small-8 columns width-100-on-mobile">
            <div class="table">
                <div class="trow">
                    <div class="tcol last">
                        Thierry Langie
                    </div>
                    <div class="tcol limit">
                        <strong>Name</strong>
                        . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . . .
                    </div>
                </div>
                <div class="trow">
                    <div class="tcol last">
                        Full stack .Net <span class="hide-on-mobile">Angular</span>
                    </div>
                    <div class="tcol limit">
                        <strong>Role</strong>
                        . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . . .
                    </div>
                </div>
                <div class="trow">
                    <div class="tcol last">
                        {{ 'thierry@prolog.red' }}
                    </div>
                    <div class="tcol limit">
                        <strong>Email</strong>
                        . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . . .
                    </div>
                </div>
                <div class="trow">
                    <div class="tcol last">
                        +32 486 96 45 77
                    </div>
                    <div class="tcol limit">
                        <strong>Phone</strong>
                        . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . . .
                    </div>
                </div>
                <div class="trow">
                    <div class="tcol last">
                        Namur, Belgium
                    </div>
                    <div class="tcol limit">
                        <strong>Location</strong>
                        . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . . .
                    </div>
                </div>
            </div>
        </div>
        <div class="small-8 columns width-100-on-mobile">
            <div class="table">
                <div class="trow">
                    <div class="tcol last">
                        French, English
                    </div>
                    <div class="tcol limit">
                        <strong>Languages</strong>
                        . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . . .
                    </div>
                </div>
                <div class="trow">
                    <div class="tcol last">
                        51 years old
                    </div>
                    <div class="tcol limit">
                        <strong>Age</strong>
                        . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . . .
                    </div>
                </div>
                <div class="trow">
                    <div class="tcol last">
                        30+ years <span class="hide-on-mobile">of experience</span>
                    </div>
                    <div class="tcol limit">
                        <strong>Experience</strong>
                        . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . . .
                    </div>
                </div>
                <div class="trow">
                    <div class="tcol last">
                        33+ <span class="hide-on-mobile">completed</span> projects
                    </div>
                    <div class="tcol limit">
                        <strong>Missions</strong>
                        . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . . .
                    </div>
                </div>
                <div class="trow">
                    <div class="tcol last">
                        <span class="hide-on-mobile">Remotely &</span> Part-time only
                    </div>
                    <div class="tcol limit">
                        <strong>Availability</strong>
                        . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . . .
                    </div>
                </div>
            </div>
        </div>
        <hr class="spacer">
        <div class="small-16 columns width-100-on-mobile">
            <div class="info callout" data-closable="fade-out">
                <strong>Disponibility</strong> I will not be available for freelance work over the next year. I must
                dedicate my time and resources to my current mission at Equans.
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close=""><span
                        aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 3.44 3.44">
                            <path fill="#000" fill-rule="evenodd"
                                d="M3.23.59L2.096 1.717 3.23 2.85c.103.104.103.273 0 .38-.106.102-.274.102-.38 0L1.72 2.096.588 3.23c-.104.102-.273.102-.377 0-.102-.107-.102-.276 0-.38l1.134-1.13L.21.588C.108.484.108.315.21.21.316.107.485.107.59.21l1.13 1.133L2.85.21c.106-.103.274-.103.38 0 .103.104.103.273 0 .38z"
                                clip-rule="evenodd"></path>
                        </svg></span>
                </button>
            </div>
        </div>
    </div>
    <div class="row hide-on-mobile">
        <div class="small-16 columns width-100-on-mobile grid">
            <a class="button hollow-button tiny-button grid-item" data-open="modal-c-sharp">C#</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-asp-dot-net">Asp.Net</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-web-api">Web API</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-razor">Razor</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-blazor">Blazor</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-dot-net-core">.Net Core</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-sql-server">Sql Server</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-html">HTML</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-css">CSS</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-scss">SCSS</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-javascript">JavaScript</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-typescript">TypeScript</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-jquery">jQuery</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-ajax">Ajax</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-angular">Angular</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-visual-studio">Visual Studio</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-dot-net">.Net</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-entity-framework">Entity
                Framework</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-digipass">Digpass</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-ubikey">Ubikey</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-message-queuing">Message Queuing</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-azure">Azure</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-progressive-web-apps">Progressive Web
                Apps</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-aurelia">Aurelia</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-architecture-design">Architecture
                Design</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-okta">OKTA</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-data-visualization">Data
                Visualization</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-api-management">API Management</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-gulp">Gulp</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-dependency-injection">Dependency
                Injection</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-tfs">TFS</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-azure-active-directory">Azure Active
                Directory</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-agile">Agile</a>
            <a class="button hollow-button tiny-button grid-item"
                data-open="modal-enterprise-resource-planning">Enterprise Resource Planning</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-event-driven">Event Driven</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-iis">IIS</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-continuous-deployment">Continuous
                Deployment</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-linq">Linq</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-asynchronous">Asynchronous</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-design-pattern">Design Pattern</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-mvc">MVC</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-microservices">Microservices</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-containers">Containers</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-docker">Docker</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-ci-cd-pipelines">CI/CD Pipelines</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-performance-tuning">Performance
                Tuning</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-signalr">SignalR</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-web-forms">Web Forms</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-powershell">PowerShell</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-caching">Caching</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-maui">MAUI</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-kubernetes">Kubernetes</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-visual-basic">Visual Basic</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-on-premise">On premise</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-excel-vba">Excel® VBA</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-word-vba">Word® VBA</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-access-vba">Access® VBA</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-access-database">Access® Database</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-access-reporting">Access®
                Reporting</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-outlook-vba">Outlook® VBA</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-outlook-form">Outlook® Form</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-mainframe">Mainframe</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-dot-net-framework">.Net Framework</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-crystal-reports">Crystal Reports</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-e-banking">e-Banking</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-barcode-reader">Barcode Reader</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-vb-dot-net">VB.Net</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-c-sharp-dot-net">C#.Net</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-autocas-api">Autocad API</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-omnis-studio">Omnis Studio</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-microsoft-graph">Microsoft Graph</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-azure-cognitive-services">Azure
                Cognitive Services</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-microsoft-authenticator">Microsoft
                Authenticator</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-serverless">Serverless</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-azure-functions">Azure Functions</a>
            <a class="button hollow-button tiny-button grid-item" data-open="modal-azure-sql-database">Azure Sql
                Database</a>
        </div>
    </div>
</section>

<section id="projects">
    <hr class="spacer">
    <div class="row">
        <header class="small-16 columns">
            <h2>Completed projects</h2>
        </header>
        <div class="small-16 columns">
            <div class="table table-striped">

                <!-- TRANSNUBEL -->
                <div class="trow">
                    <div class="tcol first hide-on-mobile">
                        <a class="button purple-tint1-button hollow-button shadow-button"
                            (click)="navigateWithAnimation(['/clients/transnubel'])">Nuclear</a>
                        <span class="badge">5</span>
                    </div>
                    <div class="tcol last hide-on-mobile">
                        <a class="button hollow-button" data-open="modal-dot-net">.Net</a>
                        <a class="button hollow-button" data-open="modal-sql-server">Sql Server</a>
                        <a class="button hollow-button" data-open="modal-digipass">Digipass</a>
                        <a class="button hollow-button" data-open="modal-on-premise">On premise</a>
                    </div>
                    <div class="tcol adjust">
                        <img class="width-20" src="assets/images/icons/icon-nuclear.svg" alt="">
                        <a (click)="navigateWithAnimation(['/clients/transnubel'])" class="link">
                            <strong>Transnubel</strong>
                        </a>
                        ●
                        <a (click)="navigateWithAnimation(['/clients/transnubel'])" class="link">
                            Web applications for Transport / Packing / Content Management Systems
                        </a>
                    </div>
                </div>
                
                <!-- ENGIE SOLUTIONS -->
                <div class="trow">
                    <div class="tcol first hide-on-mobile">
                        <a class="button purple-tint2-button hollow-button shadow-button"
                            (click)="navigateWithAnimation(['/clients/engie'])">Energy</a>
                        <span class="badge">4</span>
                    </div>
                    <div class="tcol last hide-on-mobile">
                        <a class="button hollow-button" data-open="modal-dot-net-core">.Net Framework</a>
                        <a class="button hollow-button" data-open="modal-sql-server">Sql Server</a>
                        <a class="button hollow-button" data-open="modal-okta">Okta</a>
                        <a class="button hollow-button" data-open="modal-ubikey">Ubikey</a>
                        <a class="button hollow-button" data-open="modal-c-sharp">C#</a>
                    </div>
                    <div class="tcol adjust">
                        <img class="width-20" src="assets/images/icons/icon-energy.svg" alt="">
                        <a (click)="navigateWithAnimation(['/clients/engie'])" class="link">
                            <strong>Engie Solutions</strong>
                        </a>
                        ●
                        <a (click)="navigateWithAnimation(['/clients/engie'])" class="link">
                            Migration tasks from on-premises infrastructure to Azure cloud servers plus implemented
                            effective strategies to ensure seamless transition
                        </a>
                    </div>
                </div>

                <!-- EQUANS BELGIUM -->
                <div class="trow">
                    <div class="tcol first hide-on-mobile">
                        <a class="button purple-tint3-button hollow-button shadow-button"
                            (click)="navigateWithAnimation(['/clients/equans'])">Industry</a>
                        <span class="badge">3</span>
                    </div>
                    <div class="tcol last hide-on-mobile">
                        <a class="button hollow-button" data-open="modal-dot-net-framework">.Net Framework</a>
                        <a class="button hollow-button" data-open="modal-sql-server">Sql Server</a>
                        <a class="button hollow-button" data-open="modal-okta">Okta</a>
                        <a class="button hollow-button" data-open="modal-ubikey">Ubikey</a>
                        <a class="button hollow-button" data-open="modal-c-sharp">C#</a>
                    </div>
                    <div class="tcol adjust">
                        <img class="width-20" src="assets/images/icons/icon-service.svg" alt="">
                        <a (click)="navigateWithAnimation(['/clients/equans'])" class="link"><strong>Equans
                                Belgium</strong></a>
                        ●
                        <a (click)="navigateWithAnimation(['/clients/equans'])" class="link">Okta integration with
                            existing web applications
                            for simplifying the process of securing sensitive data</a>
                    </div>
                </div>

                <!-- AKZONOBEL -->
                <div class="trow">
                    <div class="tcol first hide-on-mobile">
                        <a class="button purple-tint4-button hollow-button shadow-button"
                            (click)="navigateWithAnimation(['/clients/akzonobel'])">Industry</a>
                        <span class="badge">1</span>
                    </div>
                    <div class="tcol last hide-on-mobile">
                        <a class="button hollow-button" data-open="modal-excel-vba">Excel® VBA</a>
                        <a class="button hollow-button" data-open="modal-mainframe">Mainframe</a>
                        <a class="button hollow-button" data-open="modal-crystal-reports">Crystal Reports</a>
                    </div>
                    <div class="tcol adjust">
                        <img class="width-20" src="assets/images/icons/icon-industry.svg" alt="">
                        <a (click)="navigateWithAnimation(['/clients/akzonobel'])" class="link">
                            <strong>AkzoNobel</strong>
                        </a>
                        ●
                        <a (click)="navigateWithAnimation(['/clients/akzonobel'])" class="link">
                            Production Management Template for Microsoft Excel®
                        </a>
                    </div>
                </div>

                <!-- BELGIUM OLYMPIC COMMITTEE -->
                <div class="trow">
                    <div class="tcol first hide-on-mobile">
                        <a class="button purple-tint5-button hollow-button shadow-button"
                            (click)="navigateWithAnimation(['/clients/olympic'])">Sport</a>
                        <span class="badge">1</span>
                    </div>
                    <div class="tcol last hide-on-mobile">
                        <a class="button hollow-button" data-open="modal-sql-server">Sql Server</a>
                        <a class="button hollow-button" data-open="modal-access-vba">Access® VBA</a>
                    </div>
                    <div class="tcol adjust">
                        <img class="width-20" src="assets/images/icons/icon-medal.svg" alt="">
                        <a (click)="navigateWithAnimation(['/clients/olympic'])" class="link">
                            <strong>Belgian Olympic Committee</strong>
                        </a>
                        ●
                        <a (click)="navigateWithAnimation(['/clients/olympic'])" class="link">
                            Sport Information Management for recording individual athlete's profiles
                        </a>
                    </div>
                </div>

                <!-- BAXTER BELGIUM -->
                <div class="trow">
                    <div class="tcol first hide-on-mobile">
                        <a class="button purple-tint6-button hollow-button shadow-button"
                            (click)="navigateWithAnimation(['/clients/baxter'])">Pharma</a>
                        <span class="badge">1</span>
                    </div>
                    <div class="tcol last hide-on-mobile">
                        <a class="button hollow-button" data-open="modal-dot-net-framework">.Net Framework</a>
                        <a class="button hollow-button" data-open="modal-sql-server">Sql Server</a>
                        <a class="button hollow-button" data-open="modal-vb-dot-net">VB.Net</a>
                    </div>
                    <div class="tcol adjust">
                        <img class="width-20" src="assets/images/icons/icon-pill.svg" alt="">
                        <a (click)="navigateWithAnimation(['/clients/baxter'])" class="link">
                            <strong>Baxter Belgium</strong>
                        </a>
                        ●
                        <a (click)="navigateWithAnimation(['/clients/baxter'])" class="link">
                            Environment Health Safety software and Industrial hygiene and chemical risk management
                            solution
                        </a>
                    </div>
                </div>

                <!-- GLAXO SMITH KLINE -->
                <div class="trow">
                    <div class="tcol first hide-on-mobile">
                        <a class="button purple-tint7-button hollow-button shadow-button"
                            (click)="navigateWithAnimation(['/clients/gsk'])">Pharma</a>
                        <span class="badge">3</span>
                    </div>
                    <div class="tcol last hide-on-mobile">
                        <a class="button hollow-button" data-open="modal-barcode-reader">Barcode reader</a>
                        <a class="button hollow-button" data-open="modal-dot-net">.Net</a>
                        <a class="button hollow-button" data-open="modal-excel-vba">Excel® VBA</a>
                        <a class="button hollow-button" data-open="modal-c-sharp">C#</a>
                    </div>
                    <div class="tcol adjust">
                        <img class="width-20" src="assets/images/icons/icon-pill.svg" alt="">
                        <a (click)="navigateWithAnimation(['/clients/gsk'])" class="link">
                            <strong>Glaxo Smith Kline</strong>
                        </a>
                        ●
                        <a (click)="navigateWithAnimation(['/clients/gsk'])" class="link">
                            Scientific data collection and analysis software
                        </a>
                    </div>
                </div>

                <!-- LABIMA -->
                <div class="trow">
                    <div class="tcol first hide-on-mobile">
                        <a class="button purple-tint7-button hollow-button shadow-button"
                            (click)="navigateWithAnimation(['/clients/labima'])">Pharma</a>
                        <span class="badge">1</span>
                    </div>
                    <div class="tcol last hide-on-mobile">
                        <a class="button hollow-button" data-open="modal-access-vba">Access® VBA</a>
                        <a class="button hollow-button" data-open="modal-access-database">Access® Database</a>
                        <a class="button hollow-button" data-open="modal-access-reporting">Access® Reporting</a>
                    </div>
                    <div class="tcol adjust">
                        <img class="width-20" src="assets/images/icons/icon-pill.svg" alt="">
                        <a (click)="navigateWithAnimation(['/clients/labima'])" class="link">
                            <strong>Labima</strong>
                        </a>
                        ●
                        <a (click)="navigateWithAnimation(['/clients/labima'])" class="link">
                            Sales Representative software for monitoring commercial delegates performance
                        </a>
                    </div>
                </div>

                <!-- FORTIS INSURANCE BELGIUM -->
                <div class="trow">
                    <div class="tcol first hide-on-mobile">
                        <a class="button purple-tint9-button hollow-button shadow-button"
                            (click)="navigateWithAnimation(['/clients/fib'])">Banking</a>
                        <span class="badge">5</span>
                    </div>
                    <div class="tcol last hide-on-mobile">
                        <a class="button hollow-button" data-open="modal-dot-net-framework">.Net Framework</a>
                        <a class="button hollow-button" data-open="modal-vb-dot-net">VB.Net</a>
                        <a class="button hollow-button" data-open="modal-digipass">Digipass</a>
                        <a class="button hollow-button" data-open="modal-e-banking">e-Banking</a>
                    </div>
                    <div class="tcol adjust">
                        <img class="width-20" src="assets/images/icons/icon-cash.svg" alt="">
                        <a (click)="navigateWithAnimation(['/clients/fib'])" class="link">
                            <strong>Fortis Insurance Belgium</strong>
                        </a>
                        ●
                        <a (click)="navigateWithAnimation(['/clients/fib'])" class="link">
                            Financial Operations software. Authentication modules.
                        </a>
                    </div>
                </div>

                <!-- CREDIT GENERAL -->
                <div class="trow">
                    <div class="tcol first hide-on-mobile">
                        <a class="button purple-tint10-button hollow-button shadow-button"
                            (click)="navigateWithAnimation(['/clients/credit-general'])">Banking</a>
                        <span class="badge">1</span>
                    </div>
                    <div class="tcol last hide-on-mobile">
                        <a class="button hollow-button" data-open="modal-visual-basic">Visual Basic</a>
                        <a class="button hollow-button" data-open="modal-access-database">Access® Database</a>
                        <a class="button hollow-button" data-open="modal-crystal-reports">Crystal Reports</a>
                    </div>
                    <div class="tcol adjust">
                        <img class="width-20" src="assets/images/icons/icon-cash.svg" alt="">
                        <a (click)="navigateWithAnimation(['/clients/credit-general'])" class="link">
                            <strong>Credit General</strong>
                        </a>
                        ●
                        <a (click)="navigateWithAnimation(['/clients/credit-general'])" class="link">
                            Prospection Software designed for the Credit General
                        </a>
                    </div>
                </div>

                <!-- TOTT SYSTEMS -->
                <div class="trow">
                    <div class="tcol first hide-on-mobile">
                        <a class="button purple-tint11-button hollow-button shadow-button"
                            (click)="navigateWithAnimation(['/clients/tott-systems'])">Tech</a>
                        <span class="badge">3</span>
                    </div>
                    <div class="tcol last hide-on-mobile">
                        <a class="button hollow-button" data-open="modal-visual-basic">Visual Basic</a>
                        <a class="button hollow-button" data-open="modal-excel-vba">Excel® VBA</a>
                        <a class="button hollow-button" data-open="modal-word-vba">Word® VBA</a>
                    </div>
                    <div class="tcol adjust">
                        <img class="width-20" src="assets/images/icons/icon-tech.svg" alt="">
                        <a (click)="navigateWithAnimation(['/clients/tott-systems'])" class="link">
                            <strong>Tott Systems</strong>
                        </a>
                        ●
                        <a (click)="navigateWithAnimation(['/clients/tott-systems'])" class="link">
                            Helpdesk Solution to streamline IT support processes
                        </a>
                    </div>
                </div>

                <!-- JPASS INTERNATIONAL -->
                <div class="trow">
                    <div class="tcol first hide-on-mobile">
                        <a class="button purple-tint12-button hollow-button shadow-button"
                            (click)="navigateWithAnimation(['/clients/jpass'])">Tech</a>
                        <span class="badge">1</span>
                    </div>
                    <div class="tcol last hide-on-mobile">
                        <a class="button hollow-button" data-open="modal-powerbuilder">PowerBuilder</a>
                        <a class="button hollow-button" data-open="modal-omnis-studio">Omnis Studio</a>
                    </div>
                    <div class="tcol adjust">
                        <img class="width-20" src="assets/images/icons/icon-tech.svg" alt="">
                        <a (click)="navigateWithAnimation(['/clients/jpass'])" class="link">
                            <strong>JPass International</strong>
                        </a>
                        ●
                        <a (click)="navigateWithAnimation(['/clients/jpass'])" class="link">
                            Material Safety Data Sheets (MSDS) expert software for Windows.
                        </a>
                    </div>
                </div>

                <!-- SOPRES -->
                <div class="trow">
                    <div class="tcol first hide-on-mobile">
                        <a class="button purple-tint13-button hollow-button shadow-button"
                            (click)="navigateWithAnimation(['/clients/sopres'])">Marketing</a>
                        <span class="badge">1</span>
                    </div>
                    <div class="tcol last hide-on-mobile">
                        <a class="button hollow-button" data-open="modal-visual-basic">Visual Basic</a>
                        <a class="button hollow-button" data-open="modal-mainframe">Mainframe</a>
                    </div>
                    <div class="tcol adjust">
                        <img class="width-20" src="assets/images/icons/icon-marketing.svg" alt="">
                        <a (click)="navigateWithAnimation(['/clients/sopres'])" class="link">
                            <strong>Sopres</strong>
                        </a>
                        ●
                        <a (click)="navigateWithAnimation(['/clients/sopres'])" class="link">
                            Rental Mailing List software designed with IT and business collaboration in mind
                        </a>
                    </div>
                </div>

                <!-- T PLAN -->
                <div class="trow">
                    <div class="tcol first hide-on-mobile">
                        <a class="button purple-tint14-button hollow-button shadow-button"
                            (click)="navigateWithAnimation(['/clients/tplan'])">Telecom</a>
                        <span class="badge">1</span>
                    </div>
                    <div class="tcol last hide-on-mobile">
                        <a class="button hollow-button" data-open="modal-visual-basic">Visual Basic</a>
                        <a class="button hollow-button" data-open="modal-autocad-api">Autocad API</a>
                    </div>
                    <div class="tcol adjust">
                        <img class="width-20" src="assets/images/icons/icon-connect.svg" alt="">
                        <a (click)="navigateWithAnimation(['/clients/tplan'])" class="link">
                            <strong>T Plan</strong>
                        </a>
                        ●
                        <a (click)="navigateWithAnimation(['/clients/tplan'])" class="link">
                            Geographic Information System (GIS) software used to establish routes for placement of optic
                            fibers in the ground.
                        </a>
                    </div>
                </div>

                <!-- SCHENK HOLDING -->
                <div class="trow">
                    <div class="tcol first hide-on-mobile">
                        <a class="button purple-tint15-button hollow-button shadow-button"
                            (click)="navigateWithAnimation(['/clients/schenk'])">Food & Beverage</a>
                        <span class="badge">1</span>
                    </div>
                    <div class="tcol last hide-on-mobile">
                        <a class="button hollow-button" data-open="modal-visual-basic">Visual Basic</a>
                        <a class="button hollow-button" data-open="modal-access-database">Access® Database</a>
                        <a class="button hollow-button" data-open="modal-crystal-reports">Crystal Reports</a>
                    </div>
                    <div class="tcol adjust">
                        <img class="width-20" src="assets/images/icons/icon-wine.svg" alt="">
                        <a (click)="navigateWithAnimation(['/clients/schenk'])" class="link">
                            <strong>Schenk Holding</strong>
                        </a>
                        ●
                        <a (click)="navigateWithAnimation(['/clients/schenk'])" class="link">
                            Stock Management System with statistics and reports
                        </a>
                    </div>
                </div>

                <!-- COCA COLA -->
                <div class="trow">
                    <div class="tcol first hide-on-mobile">
                        <a class="button purple-tint16-button hollow-button shadow-button"
                            (click)="navigateWithAnimation(['/clients/coca-cola'])">Food & Beverage</a>
                        <span class="badge">1</span>
                    </div>
                    <div class="tcol last hide-on-mobile">
                        <a class="button hollow-button" data-open="modal-excel-vba">Excel® VBA</a>
                        <a class="button hollow-button" data-open="modal-mainframe">Mainframe</a>
                        <a class="button hollow-button" data-open="modal-visual-basic">Visual Basic</a>
                    </div>
                    <div class="tcol adjust">
                        <img class="width-20" src="assets/images/icons/icon-soda.svg" alt="">
                        <a (click)="navigateWithAnimation(['/clients/coca-cola'])" class="link">
                            <strong>Coca-Cola</strong>
                        </a>
                        ●
                        <a (click)="navigateWithAnimation(['/clients/coca-cola'])" class="link">
                            Y2K millennium bug ● Transition to the Euro ● Excel Macros migration
                        </a>
                    </div>
                </div>

                <!-- KRAFT JACOBS SUCHARD -->
                <div class="trow">
                    <div class="tcol first hide-on-mobile">
                        <a class="button purple-tint17-button hollow-button shadow-button"
                            (click)="navigateWithAnimation(['/clients/kjs'])">Food & Beverage</a>
                        <span class="badge">1</span>
                    </div>
                    <div class="tcol last hide-on-mobile">
                        <a class="button hollow-button" data-open="modal-outlook-vba">Outlook® VBA</a>
                        <a class="button hollow-button" data-open="modal-outlook-form">Outlook® Form</a>
                    </div>
                    <div class="tcol adjust">
                        <img class="width-20" src="assets/images/icons/icon-chef.svg" alt="">
                        <a (click)="navigateWithAnimation(['/clients/kjs'])" class="link">
                            <strong>Kraft Jacobs Suchard</strong>
                        </a>
                        ●
                        <a (click)="navigateWithAnimation(['/clients/kjs'])" class="link">
                            European Survey on sales performance. Electronic forms dispatched via Outlook.
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="blog">
    <hr class="spacer">
    <div class="row">
        <header class="small-16 columns">
            <h2>Blog</h2>
        </header>

        <!-- Search input and switch -->
        <div class="search-switch-container">
            <input type="text" class="search" [(ngModel)]="blogSearchText" placeholder="Search">
            <label class="switch">
                <input type="checkbox" class="check" [value]="blogViewMode" (change)="toggleBlogView()">
                <span class="sslider round"></span>
            </label>
        </div>

        @if (blogViewMode == 'masonry')
        {
            <div class="small-16 columns masonry">
                <ul>
                    @for (post of filteredPosts; track $index ) 
                    {
                        <li class="span{{post.span}} height{{ post.height }} button tint{{ post.color }}-button no-border hollow-button">
                            <a [routerLink]="['/viewer/', getSlug(post.title)]">
                                <h2 [ngStyle]="{'font-size': post.heading + '%'}"> {{ post.title }} </h2>
                                @if (post.tags !== '')
                                {
                                    <div>
                                        @for (tag of post.tags.split(';'); track $index)
                                        {
                                            <a class="button hollow-button tint{{ post.color }}-button tiny-button no-border">
                                                {{ tag.trim() }}
                                            </a>
                                        }  
                                    </div>
                                }
                            </a>
                        </li>
                    }
                </ul>
            </div>
        }
        @else
        {
            <div class="small-16 columns list">
                <div class="table table-striped">
    
                    @for (post of filteredPosts; track $index)
                    {
                        <div class="trow">
                            <div class="tcol first hide-on-mobile">
                                <a (click)="editPost(post.title)" class="button purple-tint1-button hollow-button shadow-button"> 
                                    {{ post.id }} 
                                </a>
                            </div>
                            
                            @if (post.tags.trim().length > 0)
                            {
                                <div class="tcol last hide-on-mobile">
                                    @for (tag of post.tags.split(';'); track $index)
                                    {
                                        <a class="button hollow-button" [attr.data-open]="'modal-' + tag.trim().replace(' ', '-')"> 
                                            {{ tag.trim() }} 
                                        </a>
                                    }
                                </div>
                            }
                            
                            <div class="tcol adjust">
                                <a (click)="viewPost(post.title)" class="link">
                                    <strong> {{ post.title }} </strong>
                                </a>
                            
                                @if (post.content !== '') 
                                {
                                    ●
                                    <a (click)="viewPost(post.title)" class="link">
                                        {{ stripHtmlTags(post.content) }}
                                    </a>
                                }
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
        }

    </div>

    <footer>
        
    </footer>

</section>

<footer class="main-footer">
    <div class="row"></div>
    <div class="copyright">
        <div class="row">
            <div class="small-16 columns">
                <p class="text-center copy">Copyright &copy; 2025 <a href="#/">Prolog.Red</a>
                    <img src="./assets/images/icons/icon-rocket.svg" alt=""><span class="hide-on-mobile">
                        All Rights Reserved</span>
                </p>
            </div>
        </div>
    </div>
</footer>
