<app-menu [menuItems]="menuItems"></app-menu>

<header class="purple" id="main-header">
    <section class="bg">
        <div class="row">
            <div class="small-16 columns">
                <div class="stars"><img class="animated infinite flash" src="assets/images/illustrations/stars-home.svg"
                        alt=""></div>
            </div>
        </div>
    </section>
    <section class="identity">
        <div class="row">
            <div class="small-16 columns"><img id="logo" class="center-image" src="assets/images/logos/logo.png"
                    alt="placeholder logo">
                <p class="tagline">Full stack .Net Angular developer</p>
            </div>
        </div>
        <div class="row">
            <div class="small-16 columns"><img class="rocket center-image animated bounceInUp"
                    src="assets/images/illustrations/ship-illustration.svg" alt="rocket"></div>
        </div>
    </section>
</header>

<app-about/>

<app-links/>

<app-profile/>

<app-projects/>

<app-blog/>

<footer class="main-footer">

    <hr class="spacer">

    <div class="profile-container">
        <img src="../../../assets/images/illustrations/picture-profile.jpg" alt="Profile Picture" class="profile-picture">
        <div class="profile-text">
            <div class="title">Thierry Langie</div>
            <div class="sub-title">Fullstack .Net Angular</div>
        </div>
    </div>

    <hr class="spacer">

    <div class="copyright">
        <div class="row">
            <div class="small-16 columns">
                <p class="text-center copy">Copyright &copy; 2025 <a href="#/">Prolog.Red</a>
                    <img class="rocket" src="./assets/images/icons/icon-rocket.svg" alt=""><span class="hide-on-mobile">
                        All Rights Reserved</span>
                </p>
            </div>
        </div>
    </div>
</footer>
