<app-menu [menuItems]="menuItems"></app-menu>

<div id="inner-page">
    
    <!-- Background Stars-->
    <div class="bg">
        <div class="stars">
            <img class="animated infinite flash" 
                 src="./assets/images/illustrations/stars-inner.svg"
                 alt="stars background">
        </div>
    </div>

    <!-- Single App-->
    <div id="single-app">
        <div class="row">
            <div class="small-16 columns">

                <!-- Start App Card-->
                <article class="card">
                    <a class="back-button"
                        (click)="navigateWithAnimation(['main'], {queryParams: { scrollTo: 'projects' } })">
                        <img src="assets/images/icons/icon-close.svg" alt="go back">
                    </a>
                    <header>
                        <input type="text" class="h2 title-editor text-center" [(ngModel)]="post.title" placeholder="my title...">

                        <div class="editor-input-container">    
                            <input id="span" type="number" [(ngModel)]="post.span" title="Span">
                            <input id="height" type="number" [(ngModel)]="post.height" title="Height">
                            <select id="heading" [(ngModel)]="post.heading" title="Color">
                                <option value="70">70%</option>
                                <option value="80">80%</option>
                                <option value="90">90%</option>
                                <option value="100">100%</option>
                                <option value="110">110%</option>
                                <option value="120">120%</option>
                                <option value="130">130%</option>
                                <option value="140">140%</option>
                                <option value="150">150%</option>
                                <option value="160">160%</option>
                                <option value="170">170%</option>
                            </select>
                            <select id="color" [(ngModel)]="post.color" title="Color">
                                <option value="0"></option>
                                <option value="1">White</option>
                                <option value="2">Purple</option>
                                <option value="3">Green</option>
                                <option value="4">Red</option>
                            </select>
                        </div>
                    </header>

                    <div>
                        <ckeditor [editor]="editor" [config]="config" [(ngModel)]="post.content"></ckeditor>
                    </div>

                    <footer>
                        
                        <div class="tag-list-editor text-center">

                            @if (post.tags.length > 0)
                            {
                                @for (tag of post.tags.split(';'); track $index)
                                {
                                    <a class="button hollow-button tiny-button" (click)="removeTag(tag)">{{ tag.trim() }}</a>
                                }    
                            }
                        </div>
                        <div class="add-tag-editor">
                            <input type="text" #tagInput placeholder="Add new tag" (keydown.enter)="addTag(tagInput.value); tagInput.value=''">
                            <!-- <input type="text" [(ngModel)]="newTag" placeholder="Add new tag">
                            <button (click)="addTag()">Add Tag</button> -->
                        </div>

                        <hr class="spacer">

                        <div class="profile-container">
                            <img src="../../../assets/images/illustrations/picture-profile.jpg" alt="Profile Picture" class="profile-picture">
                            <div class="profile-text">
                                <div class="title">Thierry Langie</div>
                                <div class="sub-title">Fullstack .Net Angular</div>
                            </div>
                        </div>

                    </footer>

                </article>
            </div>
        </div>
    </div>
</div>
<footer class="main-footer">
    <div class="copyright">
        <div class="row">
            <div class="small-16 columns">
                <p class="text-center copy">Copyright &copy; 2025 <a href="#/">Prolog.Red</a>
                    <img src="./assets/images/icons/icon-rocket.svg" alt="">
                    <span class="hide-on-mobile">
                        All Rights Reserved
                    </span>
                </p>
            </div>
        </div>
    </div>
</footer>